* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-top: 50px;
}

p {
  font-size: 2rem;
  margin-top: 20px;
}

input {
  font-size: 20px;
}

.incdec {
  padding: 10px 30px;
  margin: 50px 10px;
  font-size: 20px;
}

.submit {
  margin: 20px;
  padding: 10px;
}
